<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>mdimagemagick</name>
	<displayName><![CDATA[ImageMagick]]></displayName>
	<version><![CDATA[1.1.1]]></version>
	<description><![CDATA[Add ImageMagick support to PrestaShop]]></description>
	<author><![CDATA[Michael Dekker]]></author>
	<tab><![CDATA[administration]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
